h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

label {
	color: white;
	/*display: inline;*/
	margin-right: 30px;
	font-size: 20px;
}

body {
	background-color: #252525;
}

text {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#radio-div {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}

#barchart {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tweet-text {
	margin-top : 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*unused*/
.hidden {
	display: none;
}

